html {
	font-size: 10px /* px = pixels */
	font-family: placeholder: 'Roboto', sans-serif;
	background-color: #d4e1f7;
}
body{
	max-width: 800px;	/* set max width of body (resizes to fit smaller screens) */
	margin: 0 auto;	/* first value affects top and bottom side, second value is left and right side */
	background-color: #FF9500;
	padding: 0 20px 20px 20px; /* top right bottom left */
	border: 5px solid black;
}
img{
	/*max-width: 90px;*/
	margin: 0 auto;
}
button{
	background-color: lightgray;
}
button:hover {
	background-color: gray;
}
div{
	border: 1px solid black;
}
.overlays{
	position: absolute;
}
